@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
    color: #000 !important;
}

input::placeholder {
  color: rgb(100, 100, 100);
  opacity: 0.5;
}

.success-toast {
  background-color: rgb(235, 247, 239);
}

.failure-toast {
  background-color: rgb(253, 237, 235);
}

.info-toast {
  background-color: rgb(229, 240, 249);
}

.warning-toast {
  background-color: rgb(255, 243, 224);
}




/* CHROME & SAFARI */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:active {
  background: #d0d0d0;
  border-radius: 10px;
}

/* MOZILLA FIREFOX */
*::-moz-scrollbar {
  width: 4px;
}

*::-moz-scrollbar-track {
  background-color: transparent;
}

*::-moz-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 8px;
}

*::-moz-scrollbar-thumb:hover {
  background: #d0d0d0;
  border-radius: 10px;
}

*::-moz-scrollbar-thumb:active {
  background: #d0d0d0;
  border-radius: 10px;
}


/* MICROSOFT INTERNET EXPLORER */
*::-ms-scrollbar {
  width: 4px;
}

*::-ms-scrollbar-track {
  background-color: transparent;
}

*::-ms-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 8px;
}

*::-ms-scrollbar-thumb:hover {
  background: #d0d0d0;
  border-radius: 10px;
}

*::-ms-scrollbar-thumb:active {
  background: #d0d0d0;
  border-radius: 10px;
}

/* OPERA */
*::-o-scrollbar {
  width: 4px;
}

*::-o-scrollbar-track {
  background-color: transparent;
}

*::-o-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 8px;
}

*::-o-scrollbar-thumb:hover {
  background: #d0d0d0;
  border-radius: 10px;
}

*::-o-scrollbar-thumb:active {
  background: #d0d0d0;
  border-radius: 10px;
}
.hide-select-appearance {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: none !important;
}